<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Agenda</title>
    </head>
    <body>
        <h1>login</h1>
        <form action="submit" method="POST">{% csrf_token %}
            <div align="center">

                <label>Usuario</label>
                <input type="text" name="username">

                <label>Password:</label>
                <input type="password" name="password">
                <button type="submit">Entrar</button>
            </div>
        </form>

        {% for message in messages %}
            <div align="center">
                <strong>Erro</strong>{{ message }}
            </div>
        {% endfor %}
    </body>
</html>